
html
	title #{first_name}'s CV Site
	head
		block scripts
			link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
			link(rel="stylesheet", href="style.css", type="text/css")
			script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
	
	body(style="background-image: url('http://wallpaperheart.com/wp-content/uploads/2018/04/globe-professional-background-images-hd.jpg'); background-size:100% auto; ")
    
		div(class="sidenav" style="opacity: .9; height: 100%; width: 200px; position: fixed; z-index: 1; top: 0; left: 0; background-color: blue; overflow-x: hidden; padding-top: 80px;")
			img(src="https://i2-prod.mirror.co.uk/incoming/article10263400.ece/ALTERNATES/s1200/PROD-Kim-Jong-Un.jpg" class="mx-auto d-block" alt="profil_picture" style="border-radius:80%; max-width: 100%; height: 50%; ")
			a(class="font-weight-bold" style="opacity: .7; padding: 6px 8px 6px 16px; text-decoration: none; font-size: 20px; color: black; display: block;") #{first_name} #{last_name}
			a(class="font-weight-bold" style="opacity: .7; padding: 6px 8px 6px 16px; text-decoration: none; font-size: 15px; color: black; display: block;") #{title}
			a(class="font-weight-light" style="opacity: .7; padding: 6px 8px 6px 16px; text-decoration: none; font-size: 10px; color: black; display: block;") #{date_of_birth}
			a(class="font-weight-bold" style="opacity: .7; padding: 6px 8px 6px 16px; text-decoration: none; font-size: 10px; color: black; display: block;") #{email}
		
		block content
			nav.navbar.sticky-top.navbar-expand-lg.navbar-invert(style="opacity: .9; border-radius:25px; background-color:black; padding-left: 60%")
				a.navbar-brand(href='#') 
				button.navbar-toggler(aria-expanded='true', aria-controls='navbarText', aria-label='Toggle navigation', type='button', data-toggle='collapse', data-target='#navbarText')
					span.navbar-toggler-icon
				#navbarText.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href='#Experience') Experience
						li.nav-item
							a.nav-link(href='#Education') Education
						li.nav-item
							a.nav-link(href='#Links') Links
					span.navbar-text #{first_name}'s CV Site

			h1(class="font-weight-bold" id="Experience" style="text-align:center; font-size:50px") #{title}
			hr
			h1(id="Experience" style="text-align:center") Work experience
			hr
			div(class="card-group" style="opacity: .7; padding-left:200px")
				div(class="colum" style="float: center; width: 100%;")
					each job in experience

						div(class = "card" style="text-align:center; border-radius:15px; border-width:5px; border-color:black;") 
							div(class="card-body" style="background-color:cyan; border-radius:10px")
								h5(class ="card-title") #{job.title}
								p(class="card-content") #{job.employer}
								p(class="card-text") #{job.start_date} - #{job.end_date} 
								p(class="card-text") #{job.description}	
			hr
			h2(id="Education" style ="text-align:center") Education
			hr
			div(class="card-group" style="opacity: .7; padding-left:200px")

				each school in education
					div(class = "card" style="width: 18rem; text-align:center; border-radius:15px; border-width:5px; border-color:black")
						div(class="card-body" style="background-color:cyan; border-radius:15px; border-width:5px; border-color:black")
							h5(class ="card-title") #{school.qualification}
							p(class ="card-content") #{school.institution}
							p(class ="card-text") #{school.description}

			hr
			h2(id="technologies" style ="text-align:center") Technology
			hr
			div(class="card-group" style="opacity: .7; padding-left:200px")

				each tech in technologies
					div(class = "card" style="width: 18rem; text-align:center; border-radius:15px; border-width:5px; border-color:black")
						div(class="card-body" style="background-color:cyan; border-radius:15px; border-width:5px; border-color:black")
							h5(class ="card-title") #{tech.name}
							p(class ="card-content") #{tech.description}
							p(class ="card-text") #{tech.img}

			hr
			h2(id="publications" style ="text-align:center") Publications
			hr
			div(class="card-group" style="opacity: .7; padding-left:200px")

				each pub in publications
					div(class = "card" style="width: 18rem; text-align:center; border-radius:15px; border-width:5px; border-color:black")
						div(class="card-body" style="background-color:cyan; border-radius:15px; border-width:5px; border-color:black")
							h5(class ="card-title") #{pub.name}
							p(class ="card-content") #{pub.description}
							p(class ="card-text") 
								a(href=pub.url class="card-link") Link

			hr
			div(class="card-group" style="opacity: .7; padding-left:200px")
						each link in proLinks
							div(class = "card" style="width: 18rem; text-align:center; border-radius:15px; border-width:5px; border-color:black")
								div(class="card-body" style="background-color:cyan; border-radius:15px; border-width:5px; border-color:black")
									a(href=link.linken class="card-link")
										img( class="card-img-top smallimg mx-auto" src=link.imgSRC style="height: auto; width: 15%; padding: 6px 8px 6px 16px;")
									

									
									
							
		block foot
			footer
				div(class="footer-copyright fixed-bottom text-center") Copyright Trude Hjelmeland 2019

				
