html
	title #{first_name}'s CV Site
	head
		block scripts
			link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
			script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
	
	body(style="background-image: url('http://wallpaperheart.com/wp-content/uploads/2018/04/globe-professional-background-images-hd.jpg'); background-size:100% auto; ")
		block content
			nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light(style="border-radius:25px; background-color:black")
				a.navbar-brand(href='#') Glorious Navbar
				button.navbar-toggler(aria-expanded='false', aria-controls='navbarText', aria-label='Toggle navigation', type='button', data-toggle='collapse', data-target='#navbarText')
					span.navbar-toggler-icon
				#navbarText.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href='#') Home 
						li.nav-item
							a.nav-link(href='#Experience') Experience
						li.nav-item
							a.nav-link(href='#Education') Education
						li.nav-item
							a.nav-link(href='#Links') Links
					span.navbar-text #{first_name}'s CV Site

			h1(id="Name" style="text-align:center") #{first_name} #{last_name}
			hr
			h1(id="Experience" style="text-align:center") Experience
			hr
			div(class="card-group")
				each job in experience

					div(class = "card" style="text-align:center; border-radius:15px; border-width:5px; border-color:black") 
						div(class="card-body" style="background-color:cyan; border-radius:10px")
							h5(class ="card-title") #{job.title}
							p(class="card-content") #{job.employer}
							p(class="card-text") #{job.description}	
			hr
			h2(id="Education" style ="text-align:center") Education
			hr
			div(class="card-group")

				each school in education
					div(class = "card" style="width: 18rem; text-align:center; border-radius:15px; border-width:5px; border-color:black")
						div(class="card-body" style="background-color:cyan; border-radius:15px; border-width:5px; border-color:black")
							h5(class ="card-title") #{school.qualification}
							p(class ="card-content") #{school.institution}
							p(class ="card-text") #{school.description}

			h3(class="text-center" id="Links") Links
						div(class="row")
							each link in proLinks
								div(class = "card" style="width: 18rem;")
									div(class="card-body")
										h5(class ="card-title") #{link.title}
										a(class ="card-content") #{link.linken}
										p(class ="card-text") #{link.description}
							
		block foot
			footer
				div(class="footer-copyright fixed-bottom text-center") Copyright Craig Marais 2019

					












