html

	title #{first_name}'s CV Site

	head

		block scripts

			link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")

			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")

			link(href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet")

			link(rel="stylesheet", href="style.css", type="text/css")

			script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")

			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

	

	body(style="background-color:#04bcf2; font-family: 'Lilita One', cursive")
		div(class="sidenav" style="opacity: 1; height: 100%; width: 200px; position: fixed; z-index: 1; top: 0; left: 0; overflow-x: hidden; padding-top: 80px;")
	
					.card(style="border-width:2px; border-color:black")
					
						img.rounded-circle.img-responsive(alt='Example photo', src='profile.jpg' style="vertical-align: middle; border-radius: 40%; height:70%; width:100%")
					
						.card-body
						h5.card-title.mt-1 #{first_name} #{last_name}
						h6.card.title #{title}

						p.card.text #{date_of_birth}
						p.card.text #{email}
						.card-footer
							each link in proLinks
								a(href=link.linken class="card-link")
									img(class="card-img-bottom smallimg mx-auto" src=link.imgSRC style="height: auto; width: 30%; padding: 6px 4px 6px 4px;")
		block content

			nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-primary

				a.navbar-brand(href='#') Home

				button.navbar-toggler(aria-expanded='true', aria-controls='navbarText', aria-label='Toggle navigation', type='button', data-toggle='collapse', data-target='#navbarText')

					span.navbar-toggler-icon

				#navbarText.collapse.navbar-collapse

					ul.navbar-nav.mr-auto

						li.nav-item

							a.nav-link(href='#Experience') Experience

						li.nav-item

							a.nav-link(href='#Education') Education

						li.nav-item

							a.nav-link(href='#Technologies') Technology

						li.nav-item

							a.nav-link(href="#Publications") Publications

					span.navbar-text(style="color:black") #{first_name}'s CV Site

			h1(class="font-weight-bold" id="Experience" style="text-align:center; padding-left:200px") Work Experience

			div(class="card-group" style="opacity: 0.9; padding-left:200px")

				div(class="colum" style="float: center; width: 100%;")

					each job in experience



						div(class = "card" style="text-align:center; border-radius:15px; border-width:5px; border-color:black;") 

							div(class="card-body" style="background-color:white; border-radius:10px")

								h5(class ="card-title") #{job.title}

								p(class="card-content") #{job.employer}

								p(class="card-text") #{job.start_date} - #{job.end_date} 

								p(class="card-text") #{job.description}	

			hr

			h1(class="font-weight-bold" id="Education" style ="text-align:center; padding-left:200px") Education

			div(class="card-group" style="opacity: .9; padding-left:200px")

				div(class="colum" style="float: center; width: 100%;")

					each school in education

						div(class = "card" style="text-align:center; border-radius:15px; border-width:5px; border-color:black")

							div(class="card-body" style="background-color:white; border-radius:15px; border-width:5px; border-color:black")

								h5(class ="card-title") #{school.qualification}

								p(class ="card-content") #{school.institution}

								p(class ="card-text") #{school.description}



			hr

			h1(class="font-weight-bold" id="Technologies" style ="text-align:center; padding-left:200px") Technology

			

			div(class="card-group" style="opacity: .9; padding-left:200px")

				div(class="colum" style="float: center; width: 100%;")

					each tech in technologies

						div(class = "card" style="text-align:center; border-radius:15px; border-width:5px; border-color:black")

							div(class="card-body" style="background-color:white; border-radius:15px; border-width:5px; border-color:black")

								h5(class ="card-title") #{tech.name}

								p(class ="card-content") #{tech.description}

								p(class ="card-text") #{tech.img}



			hr

			h1(class="font-weight-bold" id="Publications" style ="text-align:center; padding-left:200px") Publications

			div(class="card-group" style="padding-left:200px")

				div(class="colum" style="float: center; width: 100%;")

					each pub in publications

						div(class = "card" style="text-align:center; border-radius:15px; border-width:5px; border-color:black")

							div(class="card-header") #{pub.name}

							div(class="card-body" style="background-color:white; border-radius:15px; border-width:5px; border-color:black")

								p(class ="card-content") #{pub.description}

								p(class ="card-text") 

									a(href=pub.url class="card-link") Link



			hr

			block foot

			footer

				div(class="footer-copyright sticky-bottom text-center" style="padding-left:200px") Copyright Martin Bjerkeengen 2019

				
